@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Jost&family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font : "Nunito";
    --thin-font : "DM Sans";
    --primary-color : rgb(243, 107, 44);
}
.content {
    overflow: hidden;
    width: 100vw;
    z-index: -1;
}
body{
    background: #000;
    overflow: auto;
    font-family: var(--main-font);
    color: aliceblue;
    }

body  .spl-char {
    color: var(--primary-color);
}    

.flex-1{
    flex: 1;
}
.dropdown {
    display: none;
}
.closeBtn{
    display: none;
}
.preloader {
    overflow: hidden;
    background: #000;
    color: rgb(0, 0, 0);
    position: absolute;
    width:100vw;
    height: 100vh;
    display: flex;
}
.greeting::before {
    content: "< ";
    font-weight: 900;
    font-size: larger;
} 
.greeting::after {
    content : " />";
    font-weight: 900;
    font-size: larger;
}

.stripes {
    flex:1;
    background-color: var(--primary-color);
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* svg */
.blob-svg {
   overflow: hidden;
    width: 420px;
}

/* nav  */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    padding: .5rem .8rem;
}


.nav-option li {
    display: inline-block;
    font-size: 1.1rem;
    padding: 0 .5rem;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color .2s;
}

.menuEl:hover {
    color: var(--primary-color);
}

.dropdown-wrapper {
    display: none;
}
.dl-icons {
    display: none;
}


.title
{
    background: rgb(0, 0, 0);
    display: flex;
    gap: 80px;
    color: #ffffff;
    white-space: nowrap;
    max-width: 90px;
    overflow: hidden;
}


/* hero sec */
.hero {
    display: none;
    transform: scale(1.3);
    justify-content: center;
    width: 90%;
    gap: 25PX;
    margin: 90px auto 0px;
    align-items: center;
}

.left
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    width: 380px;
    min-height: 100%;
}
.hey {
    font-size: 1.1em;
    font-family:  var(--thin-font);
    font-weight: 600;
    position: relative;
    top: 15px;
    left: -10px;
}
.name
{
    font-size: 1.4em;
    position: relative;
}

.rest {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.intro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.intro-para {
    font-family: var(--thin-font);
}
.contact-btn button {
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 7px;
    border: none;
    background: var(--primary-color);
    font-family: var(--thin-font);
    font-weight: 700;

}
.contact-btn button:hover {
    background: var(--primary-color);
    color: #ffffff;
    transition: .2s ease;
}
.icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scale(1.3);
}
.icon:hover {
    transform: scale(1.1);
    color: var(--primary-color);
    transition: .4s ease-in-out;
}
/* hero sec */

@media only screen and (max-width: 600px) {
   .nav-option{
    display: none;
   }
   .main {
    width: 100vw;
    height: calc(100vh - 20px);
   }
   .nav{
    position: relative;
    z-index: -1;
   }
   .dropdown-wrapper{
    display: block;
    list-style: none;
    text-decoration: none;
   }
   .dropdown {
    display: flex;
    position: fixed;
    top: 40%;
    left: 50%;
    gap: 20px;
    flex-direction: column;
    transform: translate(-50%,-70%);
    font-size: 2rem;

   }
   .dropdown li {
    text-align: center;
    list-style: none;
    color: #000;
    font-family: var(--thin-font);
   }
   .fullscreen-menu {
    overflow: hidden;
    z-index: 888;
    display: none;
    position: absolute;
    background: var(--primary-color);
    width: 100vw;
    height: calc(100vh - 20px);
   }
   .closeBtn {
    border: none;
    background:none;
    transform: scale(1.3);
    position:absolute;
    top: 15px;
    right: 15px;
   }
   .dml {
    color: #000;
   }
 
   .hero {
    margin: -40px auto 0px;
    transform: scale(.95);
    gap:0;
    flex-direction: column;
   }
   .icons {
    display: none;
   }
   .dl-icons {
    position: fixed;
    transform: scale(1.3);
    color: #000;
    bottom: 25px;
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;

   }
   .rest {
    padding-left: 30px;
   }
 

}